<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
    <test verbose="2" preserve-order="true" name="C:/Users/tilek/IdeaProjects/Appium/src/test/java/testng/Day1.java"/>

        <test name="Personal Loan">
        <classes>
            <class name="testng.Day1">
                <methods>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="testng.Day2"/>
        </classes>
    </test>

    <test name="Car Loan">
        <classes>
            <class name="testng.Day3">
                <methods>
                    <exclude name="test.*"/>  <!--will exclude all testcases starting with test word in Days3 class-->
                </methods>
            </class>
        </classes>
    </test>
</suite>