<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="digitalnomads.test_utils.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/tilek/IdeaProjects/Appium"/>
    <test thread-count="5" name="End to End FrameWork Test">
        <classes>
        <class name="digitalnomads.demoTest.AppiumBasics"/>
    </classes>
    </test>
    <test thread-count="5" name="Rotate LandScape Test">
        <classes>
            <class name="digitalnomads.demoTest.ActivityDemo"/>
        </classes>
    </test>
    <test thread-count="5" name="Long Press Test">
        <classes>
            <class name="digitalnomads.demoTest.LongPressTest"/>
        </classes>
    </test>
</suite>